// colors
$primaryColor: #0099e9;
$primarySecondColor: #18a6f0;
$secondaryColor: #ebebeb;
$errorColor: #d94545;
$errorSecondColor: #e64d4d;
$bgColor: #f8f8f8;

//spaces
$smallSpace: 5px;
$mediumSpace: 10px;
$largeSpace: 20px;


$primaryBoxShadow: 0 3px 9px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

$mediumBorderRadius: 7px;
$smallBorderRadius: 3px;
